header h1 {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
  color: aliceblue;
}
header h1 span {
  color: #e65e67;
  margin: 0 10px;
}

header h1 div {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 0.5px solid white;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 28px;
  }
  header h1 div {
    width: 42px;
    height: 42px;
  }
}
