
header h1 {
    display: flex; 
    align-items: center;
  font-size: 50px;
  font-weight: 900;
  color: aliceblue;
}
header h1 span {
  color: #e65e67;
}

header h1 div {
    display: inline-block;
  background-color: rgb(202, 32, 128);
  width: 60px;
  height: 60px;
  border: .5px solid white;
}
