.reaset-button {
  margin-top: 30px;
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: x-large;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

