body {
    font-family: 'Brush Script MT', cursive;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
